<h1>Listing notches</h1>

<table>
  <thead>
    <tr>
      <th>Raw text</th>
      <th>Markedup text</th>
      <th>Is goal</th>
      <th>Goal completed</th>
      <th>Completed at</th>
      <th>Team</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notches.each do |notch| %>
      <tr>
        <td><%= notch.raw_text %></td>
        <td><%= notch.markedup_text %></td>
        <td><%= notch.is_goal %></td>
        <td><%= notch.goal_completed %></td>
        <td><%= notch.completed_at %></td>
        <td><%= notch.team %></td>
        <td><%= notch.user %></td>
        <td><%= link_to 'Show', notch %></td>
        <td><%= link_to 'Edit', edit_notch_path(notch) %></td>
        <td><%= link_to 'Destroy', notch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notch', new_notch_path %>
